<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test servizi apk</name>
    <description>Esempio di apk dove prenotare servizi</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Tenshin Pix Studio
    </author>
    <!-- Aggiungi la configurazione dell'icona -->
    <icon src="resources/icon.png" />

     <!-- Configurazione della Splash Screen per Android -->
    <platform name="android">
    <!-- Configurazione della splash screen senza animazione circolare -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" /> <!-- Tempo di visualizzazione in millisecondi -->
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenBackgroundColor" value="#000000" /> <!-- Colore di sfondo della splash screen -->
    <preference name="AndroidWindowSplashScreen" value="true" /> <!-- Abilita la splash screen -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/screens/android/splash.png" /> <!-- Usa l'immagine statica -->
    <preference name="AndroidWindowSplashScreenFadeOutDuration" value="500" /> <!-- Durata del fade-out della splash -->
</platform>

    
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
